header {
  background-color: black;
  .container-header {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    height: 80px;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .logo {
      color: white;
      font-size: 25px;
    }
    nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      label {
        i {  
          font-size: 25px;
          color: white;
          margin-right: 10px;
          display: none;
        }
      }
      input {
        display: none;
      }
      #menu {
        li {
          .item-menu {
            color: white;
            &:hover {
              color: aqua;
            }
          }
          .item-menu.active {
            color: aqua;            
          }
        }
      }
    }
  }
}
