@media screen and (max-width: 768px) {
    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 21px;
    }

    .nieve {
        .animacion4 {
            font-size: 24px;
            text-shadow: 1px 1px aqua;
            animation-duration: 8s;
          }
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);

        .grid-item {
            grid-column: span 1;
            grid-row: span 1;
        }

        .primer-item {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
        }

        .tercer-item {
            grid-column: 1 / 3;
            grid-row: 3 / 5;
        }

        .cuarto-item {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
        }

        .octavo-item {
            grid-column: 1 / 3;
            grid-row: 6 / 7;
        }

    }

    #menu {
        background-color: black;
        position: fixed;
        top: 80px;
        /*Misma altura header*/
        left: -110%;
        width: 100%;
        height: calc(100vh - 80px);
        /*el alto de la pantalla menos misma altura header*/
        flex-direction: column;
        transition: left 0.3s ease-in-out;

        li {
            text-align: left;
            padding-left: 20vw;
            line-height: 60px;

            a {
                font-size: 25px;
            }
        }
    }

    header {
        .container-header {
            nav {
                label {
                    i {
                        display: block;
                    }
                }
            }
        }
    }

    #botonMenu:checked+#menu {
        left: 0;
    }

    .extreme1 {
        div {
            width: 300px;
            height: 450px;
        }
    }
}